<div class="jumbotron">
    <h1 class="display-3">Guessing game!</h1>
</div>

<div class="row">
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card word">
            <div class="card-block">
                <h3 class="card-title">
                    Word
                </h3>
            </div>
        </div>
    </div>
</div>