<div class="mt-1">
    <h1>New Game</h1>
</div>
<br>
<p class="lead">
    Guessing Game is a rather simple game of writing the correct word under the definition of the word. In the next screen you will be shown 4 different word and definition combinations. Match all of them to continue and if you miss even one you will fail
    and your score will be saved to the leaderboard as is. Good luck!
</p>

<%= render 'form', welcome: @welcome %>