/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/

@import "bootstrap";
@import "welcomes";
$footer-length: 100px;
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.webpage {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: $footer-length;
}

// I know the stuff below is a total mess, I'll clean it if I have time
footer {
    background-color: rgb(190, 190, 190);
    left: 0;
    bottom: 0;
    height: $footer-length;
    width: 100%;
    display: flex;
    flex-direction: column;
    .container {
        padding: 0.5rem;
        margin: 0px;
        height: 100%
    }
    .footer-child {
        width: 100%;
        height: 25%;
    }
    ul {
        padding: 0px;
        margin: 0px;
        height: 50%;
        li {
            height: 50%;
        }
    }
    li {
        list-style: none;
        a {
            color: black;
            &:hover {
                color: blue;
            }
        }
    }
    p {
        margin: 0px;
    }
}